GIROPAY_MERCHANT_ID=
GIROPAY_PROJECT_ID=
KLARNA_API_KEY=
KLARNA_API_SECRET=
KLARNA_ENV=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=
STRIPE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=